# ignore all cache files
*.cache

*.csproj.nuget.g.targets
*.csproj.nuget.g.props
*.assets.json
*.csproj.nuget.dgspec.json
*.props
*.vsidx
*read.lock
.suo
*.g.cs
*.csproj.FileListAbsolute.txt
*.editorconfig
*.CopyComplete
*.BuildWithSkipAnalyzers
applicationhost.config
*.runtimeconfig.json
*.dtbcache.v2